<H4>Fields to write: Institution, Primary Class ID, Primary Staff ID (State ID), Is Primary Teacher (optional)

In [1]:
import pandas as pd
import numpy as np
from io import StringIO

Files Needed: <br>
* Course_Data_ELEM <br>

In [2]:
AZClass = pd.read_csv("Course_Data_ELEM.csv", encoding='latin-1')

C:\Users\lauren.goldfish\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (29) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

<H4> Active Classes Only

In [3]:
((AZClass['CC.SECTIONID'] < 0) == True).sum()

60397

In [4]:
((AZClass['CC.SECTIONID'] > 0) == True).sum()

280870

In [5]:
PS_Active_Classes = AZClass[((AZClass['CC.SECTIONID'] > 0) == True)]

In [6]:
PS_Active_Classes

,Course Number,Section Number,Term,Entry Date,Exit Date,CC.EXPRESSION,CC.SECTIONID,Course Name,School Name,School Number,...,SPED Alert,STUDENTS.GUARDIANEMAIL,504 Alert,ELL Alert,TeacherID,Teacher First,Teacher Middle,Teacher Last,Email Address,Teacher Number
0,JH104,1101,3102,2022-02-03,2022-05-25,6(A),72862,JH Course 3,Legacy Traditional School - East Mesa,700,...,NaN,Codysierralevi@gmail.com,NaN,NaN,17166,Ilona,Nicole,Cochran,nicole.cochran@legacytraditional.org,8889
2,JH169,201,3102,2022-01-04,2022-05-25,2(A),75012,JH Mathematics,Legacy Online Academy,1100,...,NaN,karmsgirl@gmail.com,NaN,NaN,15624,Carol,NaN,Messersmith,carol.messersmith@legacytraditional.org,5676
3,JH104,1104,3102,2022-01-04,2022-05-25,6(A),73967,JH Course 3,Legacy Traditional School - Queen Creek,200,...,NaN,jconsadori@gmail.com,NaN,NaN,11468,Erica,NaN,Grantier,erica.grantier@legacytraditional.org,6486
4,JH104,1105,3102,2022-01-04,2022-05-25,1(A),72755,JH Course 3,Legacy Traditional School - Chandler,300,...,NaN,krislb714@yahoo.com,NaN,NaN,6135,Michelle,NaN,Sondrup,michelle.sondrup@legacytraditional.org,5068
5,JH104,1105,3102,2022-01-04,2022-05-25,1(A),72755,JH Course 3,Legacy Traditional School - Chandler,300,...,NaN,Ashley.jones@legacytraditional.org,NaN,NaN,6135,Michelle,NaN,Sondrup,michelle.sondrup@legacytraditional.org,5068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341262,1017,KBpm,3100,2022-01-31,2022-05-25,12(A),78536,Computers,Legacy Traditional School - Maricopa,100,...,NaN,karareneeclifton@gmail.com,NaN,NaN,16512,Erin,NaN,Stoutenburg,erin.stoutenburg@legacytraditional.org,8660
341263,1016,KBpm,3100,2022-01-31,2022-05-25,12(A),78521,Music,Legacy Traditional School - Maricopa,100,...,NaN,karareneeclifton@gmail.com,NaN,NaN,15450,Amanda,NaN,Hatch,amanda.hatch@legacytraditional.org,8108
341264,1015,KBpm,3100,2022-01-31,2022-05-25,12(A),78506,PE,Legacy Traditional School - Maricopa,100,...,NaN,karareneeclifton@gmail.com,NaN,NaN,15575,Aaron,NaN,Canepa,aaron.canepa@legacytraditional.org,8233
341265,1014,KBpm,3100,2022-01-31,2022-05-25,12(A),74505,Homework,Legacy Traditional School - Maricopa,100,...,NaN,karareneeclifton@gmail.com,NaN,NaN,14023,Alexia,NaN,Miller,alexia.miller@legacytraditional.org,7455
341266,1013,KBpm,3100,2022-01-31,2022-05-25,12(A),74504,Citizenship,Legacy Traditional School - Maricopa,100,...,NaN,karareneeclifton@gmail.com,NaN,NaN,14023,Alexia,NaN,Miller,alexia.miller@legacytraditional.org,7455

<H4> Homeroom classes only

In [7]:
df_HomeroomOnly = PS_Active_Classes[(PS_Active_Classes['Course Name'].str.contains('Homeroom', na=False, regex=True) == True)]

In [8]:
df_HomeroomOnly

,Course Number,Section Number,Term,Entry Date,Exit Date,CC.EXPRESSION,CC.SECTIONID,Course Name,School Name,School Number,...,SPED Alert,STUDENTS.GUARDIANEMAIL,504 Alert,ELL Alert,TeacherID,Teacher First,Teacher Middle,Teacher Last,Email Address,Teacher Number
67,AM,4D,3100,2021-07-19,2022-05-25,1(A),77457,Homeroom,Legacy Traditional School - North Chandler,550,...,NaN,keshmarissa@yahoo.com,NaN,NaN,15467,Coral,NaN,Ryan,coral.ryan@legacytraditional.org,8125
71,PM,6C,3100,2021-08-02,2022-05-25,11(A),82213,Homeroom PM,Legacy Traditional School - Laveen,400,...,NaN,ILMB09HERNANDEZ@GMAIL.COM,NaN,NaN,17509,Glenda,NaN,Molina,glenda.molina@legacytraditional.org,9008
74,AM,1B,3100,2021-08-04,2022-05-25,1(A),80110,Homeroom,Legacy Traditional School - Peoria,650,...,NaN,srichert14@cox.net,NaN,NaN,10524,Courtney,NaN,Geith,courtney.geith@legacytraditional.org,6159
86,AM,5G,3100,2021-08-02,2022-05-25,2(A),83309,Homeroom,Legacy Traditional School - Surprise,500,...,Sped - OHI,leahmarie1982@yahoo.com,NaN,NaN,13253,Joanna,NaN,Roy,joanna.roy@legacytraditional.org,6095
87,PM,5G,3100,2021-08-02,2022-05-25,8(A),83310,Homeroom PM,Legacy Traditional School - Surprise,500,...,NaN,atfleming6@gmail.com,NaN,NaN,13253,Joanna,NaN,Roy,joanna.roy@legacytraditional.org,6095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341125,PM,1E,3100,2022-04-12,2022-05-25,8(A),75136,Homeroom PM,Legacy Traditional School - Casa Grande,150,...,NaN,gerardonavarre@gmail.com,NaN,1.0,8382,Makayla,NaN,Rodriguez,makayla.rodriguez@legacytraditional.org,6068
341128,AM,2A,3100,2022-01-24,2022-05-25,1(A),74911,Homeroom,Legacy Online Academy,1100,...,NaN,Brooklynchanel1@gmail.com,NaN,NaN,15757,Tamala,NaN,Mooney,tamala.mooney@legacytraditional.org,8134
341166,AM,KB,3100,2022-03-29,2022-05-25,3(A),75595,Homeroom,Legacy Traditional School - Chandler,300,...,NaN,samuelsdr3@gmail.com,NaN,NaN,15934,Gilbert,NaN,Tovar,gilbert.tovar@legacytraditional.org,8346
341170,AM,3B,3100,2022-03-28,2022-05-25,1(A),84459,Homeroom,Legacy Online Academy,1100,...,NaN,Jmrsdross@gmail.com,NaN,NaN,16462,Kelly,NaN,Scott,kelly.scott@legacytraditional.org,8637
341197,PM,KB,3100,2022-03-29,2022-05-25,9(A),75596,Homeroom PM,Legacy Traditional School - Chandler,300,...,NaN,samuelsdr3@gmail.com,NaN,NaN,15934,Gilbert,NaN,Tovar,gilbert.tovar@legacytraditional.org,8346

In [9]:
df_HomeroomOnly['Primary Staff ID (State ID)'] = df_HomeroomOnly['School Number'].astype(str) + '-' + df_HomeroomOnly['Teacher Number'].astype(str)

C:\Users\LAUREN~1.GOL\AppData\Local\Temp/ipykernel_40812/1012464081.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_HomeroomOnly['Primary Staff ID (State ID)'] = df_HomeroomOnly['School Number'].astype(str) + '-' + df_HomeroomOnly['Teacher Number'].astype(str)

In [10]:
df_HomeroomOnly['Primary Class ID'] = df_HomeroomOnly['CC.SECTIONID'].astype(str) + "-" + df_HomeroomOnly['Teacher Number'].astype(str)

C:\Users\LAUREN~1.GOL\AppData\Local\Temp/ipykernel_40812/3018798482.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_HomeroomOnly['Primary Class ID'] = df_HomeroomOnly['CC.SECTIONID'].astype(str) + "-" + df_HomeroomOnly['Teacher Number'].astype(str)

In [11]:
transform_schoolID = {
    100:'Maricopa',
    150: 'Casa Grande',
    200: 'Queen Creek',
    250: 'Avondale',
    300: 'Chandler',
    350: 'Northwest Tucson',
    400: 'Laveen',
    450: 'Gilbert Elementary School',
    500: 'Surprise',
    550: 'North Chandler',
    600: 'Glendale',
    650: 'Peoria',
    700: 'East Mesa',
    750: 'Phoenix',
    800: 'Goodyear',
    850: 'North Phoenix',
    900: 'West Surprise',
    950: 'East Tucson',
    1000: 'Deer Valley',
    1050: 'Mesa',
    1100: 'Legacy Online Academy',
}

df_HomeroomOnly['Institution'] = df_HomeroomOnly['School Number'].map(transform_schoolID)

C:\Users\LAUREN~1.GOL\AppData\Local\Temp/ipykernel_40812/4041934307.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_HomeroomOnly['Institution'] = df_HomeroomOnly['School Number'].map(transform_schoolID)

In [12]:
df_HomeroomOnly

,Course Number,Section Number,Term,Entry Date,Exit Date,CC.EXPRESSION,CC.SECTIONID,Course Name,School Name,School Number,...,ELL Alert,TeacherID,Teacher First,Teacher Middle,Teacher Last,Email Address,Teacher Number,Primary Staff ID (State ID),Primary Class ID,Institution
67,AM,4D,3100,2021-07-19,2022-05-25,1(A),77457,Homeroom,Legacy Traditional School - North Chandler,550,...,NaN,15467,Coral,NaN,Ryan,coral.ryan@legacytraditional.org,8125,550-8125,77457-8125,North Chandler
71,PM,6C,3100,2021-08-02,2022-05-25,11(A),82213,Homeroom PM,Legacy Traditional School - Laveen,400,...,NaN,17509,Glenda,NaN,Molina,glenda.molina@legacytraditional.org,9008,400-9008,82213-9008,Laveen
74,AM,1B,3100,2021-08-04,2022-05-25,1(A),80110,Homeroom,Legacy Traditional School - Peoria,650,...,NaN,10524,Courtney,NaN,Geith,courtney.geith@legacytraditional.org,6159,650-6159,80110-6159,Peoria
86,AM,5G,3100,2021-08-02,2022-05-25,2(A),83309,Homeroom,Legacy Traditional School - Surprise,500,...,NaN,13253,Joanna,NaN,Roy,joanna.roy@legacytraditional.org,6095,500-6095,83309-6095,Surprise
87,PM,5G,3100,2021-08-02,2022-05-25,8(A),83310,Homeroom PM,Legacy Traditional School - Surprise,500,...,NaN,13253,Joanna,NaN,Roy,joanna.roy@legacytraditional.org,6095,500-6095,83310-6095,Surprise
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341125,PM,1E,3100,2022-04-12,2022-05-25,8(A),75136,Homeroom PM,Legacy Traditional School - Casa Grande,150,...,1.0,8382,Makayla,NaN,Rodriguez,makayla.rodriguez@legacytraditional.org,6068,150-6068,75136-6068,Casa Grande
341128,AM,2A,3100,2022-01-24,2022-05-25,1(A),74911,Homeroom,Legacy Online Academy,1100,...,NaN,15757,Tamala,NaN,Mooney,tamala.mooney@legacytraditional.org,8134,1100-8134,74911-8134,Legacy Online Academy
341166,AM,KB,3100,2022-03-29,2022-05-25,3(A),75595,Homeroom,Legacy Traditional School - Chandler,300,...,NaN,15934,Gilbert,NaN,Tovar,gilbert.tovar@legacytraditional.org,8346,300-8346,75595-8346,Chandler
341170,AM,3B,3100,2022-03-28,2022-05-25,1(A),84459,Homeroom,Legacy Online Academy,1100,...,NaN,16462,Kelly,NaN,Scott,kelly.scott@legacytraditional.org,8637,1100-8637,84459-8637,Legacy Online Academy
341197,PM,KB,3100,2022-03-29,2022-05-25,9(A),75596,Homeroom PM,Legacy Traditional School - Chandler,300,...,NaN,15934,Gilbert,NaN,Tovar,gilbert.tovar@legacytraditional.org,8346,300-8346,75596-8346,Chandler

In [13]:
# Rename appropriate headings: Institution, Primary Class ID, Primary Staff ID

In [14]:
df_StaffToClass = df_HomeroomOnly.filter(['Institution', 'Primary Class ID', 'Primary Staff ID (State ID)'])

In [15]:
df_StaffToClass

                  Institution Primary Class ID Primary Staff ID (State ID)
67             North Chandler       77457-8125                    550-8125
71                     Laveen       82213-9008                    400-9008
74                     Peoria       80110-6159                    650-6159
86                   Surprise       83309-6095                    500-6095
87                   Surprise       83310-6095                    500-6095
...                       ...              ...                         ...
341125            Casa Grande       75136-6068                    150-6068
341128  Legacy Online Academy       74911-8134                   1100-8134
341166               Chandler       75595-8346                    300-8346
341170  Legacy Online Academy       84459-8637                   1100-8637
341197               Chandler       75596-8346                    300-8346

[31050 rows x 3 columns]

In [16]:
df_StaffToClass['Is Primary Teacher']=''

In [17]:
df_StaffToClass.drop_duplicates()

,Institution,Primary Class ID,Primary Staff ID (State ID),Is Primary Teacher
67,North Chandler,77457-8125,550-8125,
71,Laveen,82213-9008,400-9008,
74,Peoria,80110-6159,650-6159,
86,Surprise,83309-6095,500-6095,
87,Surprise,83310-6095,500-6095,
...,...,...,...,...
257099,Queen Creek,78014-5364,200-5364,
257662,Queen Creek,77953-5592,200-5592,
257673,Queen Creek,77954-5592,200-5592,
280155,West Surprise,83912-7825,900-7825,
324502,Goodyear,79701-7840,800-7840,

In [18]:
df_writecsv = df_StaffToClass.rename(columns={"School Name": "Institution"})

In [19]:
df_noduplicates = df_writecsv.drop_duplicates()

In [20]:
df_noduplicates

,Institution,Primary Class ID,Primary Staff ID (State ID),Is Primary Teacher
67,North Chandler,77457-8125,550-8125,
71,Laveen,82213-9008,400-9008,
74,Peoria,80110-6159,650-6159,
86,Surprise,83309-6095,500-6095,
87,Surprise,83310-6095,500-6095,
...,...,...,...,...
257099,Queen Creek,78014-5364,200-5364,
257662,Queen Creek,77953-5592,200-5592,
257673,Queen Creek,77954-5592,200-5592,
280155,West Surprise,83912-7825,900-7825,
324502,Goodyear,79701-7840,800-7840,

In [21]:
df_noduplicates.to_csv('Legacy_Traditional_Schools_Arizona_staff_to_class.csv', index=False, encoding='utf-8')