In [1]:
import pandas as pd
import numpy as np
from io import StringIO
from datetime import datetime as dt
import math

<H4> Looking for materials: Science, Reading, Grammar/Writing, data for each subject by school, teacher or student, date (?)

In [2]:
# January First

In [3]:
df_January = pd.read_csv("AllJanuaryData.csv", encoding='latin-1')

C:\Users\lauren.goldfish\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (26) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
# , format = '%m%d%Y'

In [5]:
# 1,681,925 rows
df_January.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1681925 entries, 0 to 1681924
Data columns (total 35 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   role_name             1681925 non-null  object
 1   user_building_id      1681925 non-null  int64
 2   user_building_name    1681925 non-null  object
 3   username              1681925 non-null  object
 4   email                 1681802 non-null  object
 5   schoology_user_id     1681925 non-null  int64
 6   unique_user_id        1671869 non-null  object
 7   action_type           1681925 non-null  object
 8   item_type             1681925 non-null  object
 9   item_id               1548272 non-null  float64
 10  item_name             1545001 non-null  object
 11  course_name           1519599 non-null  object
 12  course_code           1476685 non-null  object
 13  section_name          1519599 non-null  object
 14  last_event_timestamp  1681925 non-null  object
 15  event_count           1681925 non-null  int64
 16  role_id               1681925 non-null  int64
 17  user_building_code    0 non-null        float64
 18  last_name             1681925 non-null  object
 19  first_name            1681925 non-null  object
 20  device_type           1681925 non-null  object
 21  item_building_id      1681916 non-null  float64
 22  item_building_name    1681916 non-null  object
 23  item_building_code    0 non-null        float64
 24  item_parent_type      1681925 non-null  object
 25  group_id              11819 non-null    float64
 26  group_name            11819 non-null    object
 27  course_id             1519599 non-null  float64
 28  section_id            1519599 non-null  float64
 29  section_school_code   1475204 non-null  float64
 30  section_code          887 non-null      float64
 31  month                 1681925 non-null  int64
 32  date                  1681925 non-null  object
 33  timestamp             1681925 non-null  object
 34  time spent (seconds)  155980 non-null   float64
dtypes: float64(10), int64(5), object(20)
memory usage: 449.1+ MB

In [6]:
df_write_January = df_January.head(500)

In [7]:
df_write_January.to_csv('January500.csv', index=False, encoding='utf-8')

In [8]:
df_January['date'] = pd.to_datetime(df_January['date'])

In [9]:
df_January['date'].min()

Timestamp('2022-01-01 00:00:00')

In [10]:
df_January['date'].max()

Timestamp('2022-01-31 00:00:00')

In [11]:
# Drop all null course names, down to 1,519,599 rows
df_January_NotNull = df_January.dropna(subset=['course_name'])

In [12]:
df_January_NotNull.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1519599 entries, 0 to 1681924
Data columns (total 35 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   role_name             1519599 non-null  object
 1   user_building_id      1519599 non-null  int64
 2   user_building_name    1519599 non-null  object
 3   username              1519599 non-null  object
 4   email                 1519551 non-null  object
 5   schoology_user_id     1519599 non-null  int64
 6   unique_user_id        1512982 non-null  object
 7   action_type           1519599 non-null  object
 8   item_type             1519599 non-null  object
 9   item_id               1519501 non-null  float64
 10  item_name             1517862 non-null  object
 11  course_name           1519599 non-null  object
 12  course_code           1476685 non-null  object
 13  section_name          1519599 non-null  object
 14  last_event_timestamp  1519599 non-null  object
 15  event_count           1519599 non-null  int64
 16  role_id               1519599 non-null  int64
 17  user_building_code    0 non-null        float64
 18  last_name             1519599 non-null  object
 19  first_name            1519599 non-null  object
 20  device_type           1519599 non-null  object
 21  item_building_id      1519599 non-null  float64
 22  item_building_name    1519599 non-null  object
 23  item_building_code    0 non-null        float64
 24  item_parent_type      1519599 non-null  object
 25  group_id              0 non-null        float64
 26  group_name            0 non-null        object
 27  course_id             1519599 non-null  float64
 28  section_id            1519599 non-null  float64
 29  section_school_code   1475204 non-null  float64
 30  section_code          887 non-null      float64
 31  month                 1519599 non-null  int64
 32  date                  1519599 non-null  datetime64[ns]
 33  timestamp             1519599 non-null  object
 34  time spent (seconds)  155980 non-null   float64
dtypes: datetime64[ns](1), float64(10), int64(5), object(19)
memory usage: 417.4+ MB

In [13]:
# Grammar, no filter: 231,333 rows Ã— 35 columns
df_coursename_grammar = df_January_NotNull.loc[df_January_NotNull['course_name'].str.contains("grammar", case = False)]

In [14]:
df_coursename_grammar.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 231333 entries, 214 to 1681863
Data columns (total 35 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   role_name             231333 non-null  object
 1   user_building_id      231333 non-null  int64
 2   user_building_name    231333 non-null  object
 3   username              231333 non-null  object
 4   email                 231329 non-null  object
 5   schoology_user_id     231333 non-null  int64
 6   unique_user_id        230177 non-null  object
 7   action_type           231333 non-null  object
 8   item_type             231333 non-null  object
 9   item_id               231333 non-null  float64
 10  item_name             231326 non-null  object
 11  course_name           231333 non-null  object
 12  course_code           231333 non-null  object
 13  section_name          231333 non-null  object
 14  last_event_timestamp  231333 non-null  object
 15  event_count           231333 non-null  int64
 16  role_id               231333 non-null  int64
 17  user_building_code    0 non-null       float64
 18  last_name             231333 non-null  object
 19  first_name            231333 non-null  object
 20  device_type           231333 non-null  object
 21  item_building_id      231333 non-null  float64
 22  item_building_name    231333 non-null  object
 23  item_building_code    0 non-null       float64
 24  item_parent_type      231333 non-null  object
 25  group_id              0 non-null       float64
 26  group_name            0 non-null       object
 27  course_id             231333 non-null  float64
 28  section_id            231333 non-null  float64
 29  section_school_code   230649 non-null  float64
 30  section_code          0 non-null       float64
 31  month                 231333 non-null  int64
 32  date                  231333 non-null  datetime64[ns]
 33  timestamp             231333 non-null  object
 34  time spent (seconds)  19541 non-null   float64
dtypes: datetime64[ns](1), float64(10), int64(5), object(19)
memory usage: 63.5+ MB

In [15]:
# Science, no filter: 125,354 rows
df_coursename_science = df_January_NotNull.loc[df_January_NotNull['course_name'].str.contains("science", case = False)]

In [16]:
df_coursename_science.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 125354 entries, 21 to 1681907
Data columns (total 35 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   role_name             125354 non-null  object
 1   user_building_id      125354 non-null  int64
 2   user_building_name    125354 non-null  object
 3   username              125354 non-null  object
 4   email                 125351 non-null  object
 5   schoology_user_id     125354 non-null  int64
 6   unique_user_id        124922 non-null  object
 7   action_type           125354 non-null  object
 8   item_type             125354 non-null  object
 9   item_id               125330 non-null  float64
 10  item_name             125145 non-null  object
 11  course_name           125354 non-null  object
 12  course_code           125354 non-null  object
 13  section_name          125354 non-null  object
 14  last_event_timestamp  125354 non-null  object
 15  event_count           125354 non-null  int64
 16  role_id               125354 non-null  int64
 17  user_building_code    0 non-null       float64
 18  last_name             125354 non-null  object
 19  first_name            125354 non-null  object
 20  device_type           125354 non-null  object
 21  item_building_id      125354 non-null  float64
 22  item_building_name    125354 non-null  object
 23  item_building_code    0 non-null       float64
 24  item_parent_type      125354 non-null  object
 25  group_id              0 non-null       float64
 26  group_name            0 non-null       object
 27  course_id             125354 non-null  float64
 28  section_id            125354 non-null  float64
 29  section_school_code   125100 non-null  float64
 30  section_code          254 non-null     float64
 31  month                 125354 non-null  int64
 32  date                  125354 non-null  datetime64[ns]
 33  timestamp             125354 non-null  object
 34  time spent (seconds)  19328 non-null   float64
dtypes: datetime64[ns](1), float64(10), int64(5), object(19)
memory usage: 34.4+ MB

In [17]:
# Reading, no filter: 187,345 rows
df_coursename_reading = df_January_NotNull.loc[df_January_NotNull['course_name'].str.contains("reading", case = False)]

In [18]:
df_coursename_reading.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 187345 entries, 301 to 1681922
Data columns (total 35 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   role_name             187345 non-null  object
 1   user_building_id      187345 non-null  int64
 2   user_building_name    187345 non-null  object
 3   username              187345 non-null  object
 4   email                 187343 non-null  object
 5   schoology_user_id     187345 non-null  int64
 6   unique_user_id        186865 non-null  object
 7   action_type           187345 non-null  object
 8   item_type             187345 non-null  object
 9   item_id               187345 non-null  float64
 10  item_name             187325 non-null  object
 11  course_name           187345 non-null  object
 12  course_code           187345 non-null  object
 13  section_name          187345 non-null  object
 14  last_event_timestamp  187345 non-null  object
 15  event_count           187345 non-null  int64
 16  role_id               187345 non-null  int64
 17  user_building_code    0 non-null       float64
 18  last_name             187345 non-null  object
 19  first_name            187345 non-null  object
 20  device_type           187345 non-null  object
 21  item_building_id      187345 non-null  float64
 22  item_building_name    187345 non-null  object
 23  item_building_code    0 non-null       float64
 24  item_parent_type      187345 non-null  object
 25  group_id              0 non-null       float64
 26  group_name            0 non-null       object
 27  course_id             187345 non-null  float64
 28  section_id            187345 non-null  float64
 29  section_school_code   187345 non-null  float64
 30  section_code          0 non-null       float64
 31  month                 187345 non-null  int64
 32  date                  187345 non-null  datetime64[ns]
 33  timestamp             187345 non-null  object
 34  time spent (seconds)  19109 non-null   float64
dtypes: datetime64[ns](1), float64(10), int64(5), object(19)
memory usage: 51.5+ MB

Necessary columns - to remove duplicates- instead of by day, taking date out - all are Jan:
- role_name <br>
- user_building_name <br>
- course_name <br>
- date <br>

<H3> Sorting each subject by required fields

In [19]:
# 4,985 rows
df_grammar_filter = df_coursename_grammar.filter(['role_name','schoology_user_id', 'user_building_name', 'course_name'])
df_grammar = df_grammar_filter.drop_duplicates()

In [20]:
# 6,303 rows
df_science_filter = df_coursename_science.filter(['role_name', 'schoology_user_id', 'user_building_name', 'course_name'])
df_science = df_science_filter.drop_duplicates()

In [21]:
# 4,579 rows
df_reading_filter = df_coursename_reading.filter(['role_name', 'schoology_user_id', 'user_building_name', 'course_name'])
df_reading = df_reading_filter.drop_duplicates()

In [22]:
# 15,707 rows
df_reading

,role_name,schoology_user_id,user_building_name,course_name
301,Teacher,93455379,Legacy Traditional School - NW Tucson,Reading
731,Teacher,93455042,Legacy Traditional School - Avondale,Reading
2973,Student,94774635,Legacy Traditional School - Avondale,Reading
4840,Teacher,112828455,Legacy Online Academy,Reading
5558,Teacher,102009255,Legacy Traditional School - Glendale,Reading
...,...,...,...,...
1677854,Student,94789946,Legacy Traditional School - Peoria,Reading
1679898,Student,94778906,Legacy Traditional School - Goodyear,Reading
1680218,Student,94775460,Legacy Traditional School - Casa Grande,Reading
1681466,Student,94779976,Legacy Traditional School - Laveen,Reading
1681724,Student,94787641,Legacy Traditional School - West Surprise,Reading

In [23]:
# pd.concat([t1, t2, t3, t4, t5])
df_Jan_ScienceReadingGrammar = pd.concat([df_reading, df_science, df_grammar])

In [24]:
# 57047 rows, as predicted
df_Jan_ScienceReadingGrammar

,role_name,schoology_user_id,user_building_name,course_name
301,Teacher,93455379,Legacy Traditional School - NW Tucson,Reading
731,Teacher,93455042,Legacy Traditional School - Avondale,Reading
2973,Student,94774635,Legacy Traditional School - Avondale,Reading
4840,Teacher,112828455,Legacy Online Academy,Reading
5558,Teacher,102009255,Legacy Traditional School - Glendale,Reading
...,...,...,...,...
1680315,Student,94774775,Legacy Traditional School - Avondale,Grammar/Writing
1680393,Student,113956033,Legacy Traditional School - Queen Creek,Grammar/Writing
1680795,Student,94787785,Legacy Traditional School - West Surprise,Grammar/Writing
1680858,Student,109086743,Legacy Traditional School - Surprise,Grammar/Writing
1681336,Student,94787641,Legacy Traditional School - West Surprise,Grammar/Writing

In [25]:
df_Jan_ScienceReadingGrammar.to_csv('ScienceReadingGrammarJanuaryMonthly.csv', encoding='utf-8', index = False)