In [1]:
import pandas as pd
import numpy as np
from io import StringIO
from datetime import datetime as dt
import math

<H4> Looking for materials: Science, Reading, Grammar/Writing, data for each subject by school

In [2]:
df_April25 = pd.read_csv("MarchApril.csv", encoding='latin-1')

C:\Users\lauren.goldfish\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (26) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
# , format = '%m%d%Y'

In [3]:
df_April25.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1435063 entries, 0 to 1435062
Data columns (total 35 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   role_name             1435063 non-null  object
 1   user_building_id      1435063 non-null  int64
 2   user_building_name    1435063 non-null  object
 3   username              1435063 non-null  object
 4   email                 1435026 non-null  object
 5   schoology_user_id     1435063 non-null  int64
 6   unique_user_id        1430105 non-null  object
 7   action_type           1435063 non-null  object
 8   item_type             1435063 non-null  object
 9   item_id               1316085 non-null  float64
 10  item_name             1313046 non-null  object
 11  course_name           1255642 non-null  object
 12  course_code           1240922 non-null  object
 13  section_name          1255642 non-null  object
 14  last_event_timestamp  1435063 non-null  object
 15  event_count           1435063 non-null  int64
 16  role_id               1435063 non-null  int64
 17  user_building_code    0 non-null        float64
 18  last_name             1435063 non-null  object
 19  first_name            1435063 non-null  object
 20  device_type           1435063 non-null  object
 21  item_building_id      1434947 non-null  float64
 22  item_building_name    1434947 non-null  object
 23  item_building_code    0 non-null        float64
 24  item_parent_type      1435063 non-null  object
 25  group_id              34828 non-null    float64
 26  group_name            34828 non-null    object
 27  course_id             1255642 non-null  float64
 28  section_id            1255642 non-null  float64
 29  section_school_code   1240808 non-null  float64
 30  section_code          108 non-null      float64
 31  month                 1435063 non-null  int64
 32  date                  1435063 non-null  object
 33  timestamp             1435063 non-null  object
 34  time spent (seconds)  51363 non-null    float64
dtypes: float64(10), int64(5), object(20)
memory usage: 383.2+ MB

In [6]:
df_April25['date'] = pd.to_datetime(df_April25['date'])

In [8]:
df_Feb28 = df_April25[df_April25['date'].dt.strftime('%Y-%m-%d') == '2022-02-28']

In [9]:
df_Feb28.to_csv('SchoologyData_02_28_2022.csv', index=False, encoding='utf-8')

In [ ]:
df_April25['date'].min()

In [ ]:
df_April25['date'].max()

In [ ]:
df_FA_write = df_April25.head(500)

In [ ]:
df_FA_write['date']

In [ ]:
df_FA_write

In [ ]:
df_FA_write.to_csv('Schoology_Export.csv', index=False, encoding='utf-8')

<H5> Whittle down to required fields

In [ ]:
df_SeemsActivityish = df_April25.filter(['item_type', 'item_name', 'course_name'])

In [ ]:
df_SeemsActivityish

In [ ]:
df_SeemsActivityish.to_csv('RelevantCourseInfo.csv', index=False, encoding='utf-8')