In [1]:
import pandas as pd
import numpy as np
from io import StringIO

Files needed: <br>
* Teachers_export.csv <br>

In [2]:
PS_Teachers = pd.read_csv("Teachers_export.csv", encoding='latin-1')

In [3]:
PS_Teachers

,School ID,Title,Last Name,First Name,Middle Name,Email,PTAccess,Status,TEACHERS.TeacherNumber,TEACHERS.Users_DCID
0,100,Kinder Teacher,Khaaliq,Malika,NaN,Malika.Khaaliq@legacytraditional.org,1,1,1007,107
1,100,4th Grade Teacher,Cardinal,Cheryl,L,Cheryl.Cardinal@legacytraditional.org,1,1,1011,111
2,100,5th Grade Teacher,Bennett,Shawna,D,Shawna.Bennett@legacytraditional.org,1,1,1013,113
3,100,JH Eng/Lit Teacher,Brownfield,Cambria,NaN,cambria.brownfield@legacytraditional.org,1,1,1014,114
4,100,Reading Specialist,Chavez,Melissa,A,Melissa.Chavez@legacytraditional.org,1,1,1015,115
...,...,...,...,...,...,...,...,...,...,...
1282,550,SPED Teacher (Contractor),Fletcher,Dennis,NaN,dennis.fletcher@legacytraditional.org,1,1,9044,16501
1283,1050,Computers Teacher,Codling-Dichet,Leslie,NaN,leslie.codling-dichet@legacytraditional.org,1,1,9054,16511
1284,100,SPED Teacher (Contractor),George,Virgil,NaN,virgil.george@legacytraditional.org,1,1,9060,16517
1285,650,SPED Teacher (Contractor),Parker,Adrienne,NaN,adrienne.parker@legacytraditional.org,1,1,9062,16519
1286,400,Permanent Substitute,Samarakoon Jayaweera,Chitra,NaN,chitra.samarakoonjayaweera@legacytraditional.org,1,1,9065,16522

In [4]:
Grade2_Teachers = PS_Teachers.loc[PS_Teachers['Title'] == '2nd Grade Teacher']

In [5]:
Grade2_Teachers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87 entries, 21 to 1275
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   School ID               87 non-null     int64
 1   Title                   87 non-null     object
 2   Last Name               87 non-null     object
 3   First Name              87 non-null     object
 4   Middle Name             9 non-null      object
 5   Email                   87 non-null     object
 6   PTAccess                87 non-null     int64
 7   Status                  87 non-null     int64
 8   TEACHERS.TeacherNumber  87 non-null     object
 9   TEACHERS.Users_DCID     87 non-null     int64
dtypes: int64(4), object(6)
memory usage: 7.5+ KB

In [6]:
transform_schoolID = {
    100:'Maricopa',
    150: 'Casa Grande',
    200: 'Queen Creek',
    250: 'Avondale',
    300: 'Chandler',
    350: 'Northwest Tucson',
    400: 'Laveen',
    450: 'Gilbert',
    500: 'Surprise',
    550: 'North Chandler',
    600: 'Glendale',
    650: 'Peoria',
    700: 'East Mesa',
    750: 'Phoenix',
    800: 'Goodyear',
    850: 'North Phoenix',
    900: 'West Surprise',
    950: 'East Tucson',
    1000: 'Deer Valley',
    1050: 'Mesa',
    1100: 'Legacy Online Academy',
}

Grade2_Teachers['School/Building'] = Grade2_Teachers['School ID'].map(transform_schoolID)

C:\Users\LAUREN~1.GOL\AppData\Local\Temp/ipykernel_56952/2387359065.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Grade2_Teachers['School/Building'] = Grade2_Teachers['School ID'].map(transform_schoolID)

In [7]:
Grade2_Teachers['School/Building Code'] = 'LTS-AZ-' + Grade2_Teachers['School ID'].astype(str)

C:\Users\LAUREN~1.GOL\AppData\Local\Temp/ipykernel_56952/1862826931.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Grade2_Teachers['School/Building Code'] = 'LTS-AZ-' + Grade2_Teachers['School ID'].astype(str)

In [8]:
Grade2_Teachers['Class'] = ''
Grade2_Teachers['Grade'] = '2'
Grade2_Teachers['Code'] = ''

C:\Users\LAUREN~1.GOL\AppData\Local\Temp/ipykernel_56952/1356350615.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Grade2_Teachers['Class'] = ''
C:\Users\LAUREN~1.GOL\AppData\Local\Temp/ipykernel_56952/1356350615.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Grade2_Teachers['Grade'] = '2'
C:\Users\LAUREN~1.GOL\AppData\Local\Temp/ipykernel_56952/1356350615.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Grade2_Teachers['Code'] = ''

In [9]:
Grade2_Teachers

,School ID,Title,Last Name,First Name,Middle Name,Email,PTAccess,Status,TEACHERS.TeacherNumber,TEACHERS.Users_DCID,School/Building,School/Building Code,Class,Grade,Code
21,150,2nd Grade Teacher,Young,Lisa,R,lisa.young@legacytraditional.org,1,1,1162,262,Casa Grande,LTS-AZ-150,,2,
29,150,2nd Grade Teacher,Edbrooke,Emily,D,Emily.Edbrooke@legacytraditional.org,1,1,1207,307,Casa Grande,LTS-AZ-150,,2,
43,200,2nd Grade Teacher,Gibson,Ashlee,NaN,ashlee.gibson@legacytraditional.org,1,1,1317,417,Queen Creek,LTS-AZ-200,,2,
62,250,2nd Grade Teacher,Goff,Brianna,NaN,brianna.goff@legacytraditional.org,1,1,1531,631,Avondale,LTS-AZ-250,,2,
75,350,2nd Grade Teacher,Wolf,Salina,M,Salina.Wolf@legacytraditional.org,1,1,1616,716,Northwest Tucson,LTS-AZ-350,,2,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236,750,2nd Grade Teacher,Christman,Kallie,NaN,kallie.christman@legacytraditional.org,1,1,8875,15889,Phoenix,LTS-AZ-750,,2,
1255,800,2nd Grade Teacher,Harris,Mary,NaN,mary.harris@legacytraditional.org,1,1,8922,15960,Goodyear,LTS-AZ-800,,2,
1262,450,2nd Grade Teacher,Hanson,Elizabeth,Anne,elizabeth.hanson@legacytraditional.org,1,1,8959,16123,Gilbert,LTS-AZ-450,,2,
1265,400,2nd Grade Teacher,Leon,Martha,Eunice,martha.leon@legacytraditional.org,1,1,8976,16164,Laveen,LTS-AZ-400,,2,
1275,800,2nd Grade Teacher,Austin,Erika,NaN,erika.austin@legacytraditional.org,1,1,9023,16273,Goodyear,LTS-AZ-800,,2,

In [10]:
Grade2_Teachers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87 entries, 21 to 1275
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   School ID               87 non-null     int64
 1   Title                   87 non-null     object
 2   Last Name               87 non-null     object
 3   First Name              87 non-null     object
 4   Middle Name             9 non-null      object
 5   Email                   87 non-null     object
 6   PTAccess                87 non-null     int64
 7   Status                  87 non-null     int64
 8   TEACHERS.TeacherNumber  87 non-null     object
 9   TEACHERS.Users_DCID     87 non-null     int64
 10  School/Building         87 non-null     object
 11  School/Building Code    87 non-null     object
 12  Class                   87 non-null     object
 13  Grade                   87 non-null     object
 14  Code                    87 non-null     object
dtypes: int64(4), object(11)
memory usage: 10.9+ KB

In [11]:
df_StaffFile = Grade2_Teachers.filter(['School/Building', 'School/Building Code', 'Class', 'Grade', 'Code', 'First Name', 
                                       'Last Name', 'Email'])

In [12]:
df_StaffFile['System *'] = 'Legacy Traditional School'
df_StaffFile['District/Area'] = 'Legacy Traditional Schools- AZ'
df_StaffFile['Middle Name'] = ''
df_StaffFile['Gender'] = ''
df_StaffFile['Password'] = ''
df_StaffFile['Middle Name'] = ''
df_StaffFile['Roles *'] = 'T'
df_StaffFile['Active User *'] = 'Y'

In [13]:
df_StaffFile.rename(columns = {"First Name": "First Name *",'Last Name': 'Last Name *', 'Email': 'Email Address *'}, inplace=True)

In [14]:
df_Staff = df_StaffFile[['System *','District/Area', 'School/Building', 'School/Building Code', 'Class', 'Grade', 'Code', 'First Name *',
             'Last Name *', 'Middle Name', 'Gender', 'Email Address *', 'Password', 'Roles *', 'Active User *']]

In [15]:
df_Staff

,System *,District/Area,School/Building,School/Building Code,Class,Grade,Code,First Name *,Last Name *,Middle Name,Gender,Email Address *,Password,Roles *,Active User *
21,Legacy Traditional School,Legacy Traditional Schools- AZ,Casa Grande,LTS-AZ-150,,2,,Lisa,Young,,,lisa.young@legacytraditional.org,,T,Y
29,Legacy Traditional School,Legacy Traditional Schools- AZ,Casa Grande,LTS-AZ-150,,2,,Emily,Edbrooke,,,Emily.Edbrooke@legacytraditional.org,,T,Y
43,Legacy Traditional School,Legacy Traditional Schools- AZ,Queen Creek,LTS-AZ-200,,2,,Ashlee,Gibson,,,ashlee.gibson@legacytraditional.org,,T,Y
62,Legacy Traditional School,Legacy Traditional Schools- AZ,Avondale,LTS-AZ-250,,2,,Brianna,Goff,,,brianna.goff@legacytraditional.org,,T,Y
75,Legacy Traditional School,Legacy Traditional Schools- AZ,Northwest Tucson,LTS-AZ-350,,2,,Salina,Wolf,,,Salina.Wolf@legacytraditional.org,,T,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236,Legacy Traditional School,Legacy Traditional Schools- AZ,Phoenix,LTS-AZ-750,,2,,Kallie,Christman,,,kallie.christman@legacytraditional.org,,T,Y
1255,Legacy Traditional School,Legacy Traditional Schools- AZ,Goodyear,LTS-AZ-800,,2,,Mary,Harris,,,mary.harris@legacytraditional.org,,T,Y
1262,Legacy Traditional School,Legacy Traditional Schools- AZ,Gilbert,LTS-AZ-450,,2,,Elizabeth,Hanson,,,elizabeth.hanson@legacytraditional.org,,T,Y
1265,Legacy Traditional School,Legacy Traditional Schools- AZ,Laveen,LTS-AZ-400,,2,,Martha,Leon,,,martha.leon@legacytraditional.org,,T,Y
1275,Legacy Traditional School,Legacy Traditional Schools- AZ,Goodyear,LTS-AZ-800,,2,,Erika,Austin,,,erika.austin@legacytraditional.org,,T,Y

In [16]:
df_Staff.to_csv('Cogat_2ndGradeTeachers.csv', index=False, encoding='utf-8')